#login {
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	align-items: center;
}

h1, h2, h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:bolder;
}

h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

#loginForm {
    align-items: left;
    text-align: left;
    height: 100%;
    background-color: white;
    opacity: 1.0;
    border-radius: 20px;
    width: 200px;
    padding: 20px;  
}

#loginbtn {
	margin: 20px;
}

#createbtn {
	margin: 20px;
    background-color: #D92B04;
}

input {
	margin: 10px;
}

#logo {
	width: auto;
	height: 70vh;
	margin-right: auto;
	margin-left: auto;
	opacity: 1.0;
}

#googlelogin {
	text-align: left;
	font-family: sans-serif;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
    
}

i {
    font-size: 48px;
    text-align: center;
    align-items: center;
}
