.square {
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 30vh;
    background-image:url(./logo.jpg);
    background-repeat: no-repeat;
    background-color: #fbf5fb;
    background-position: center;
    display: block;
    box-shadow: 2px 2px 2px 2px #F2E9D8;
    border-radius: 25px;
}