#login {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    align-items: center;
    

}

h1, h2, h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:bolder;
}

h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

form {
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #FFF0F5;
    opacity: 70%;
    border-radius: 20px;
   
}

#loginbtn {
    margin: 20px;
}

#createbtn {
    margin: 20px;
}

input {
    margin: 10px;
}

#logo {
    width: auto;
    height: 70vh;
    margin-right: auto;
    margin-left:auto;
    opacity: 100%;
    
    
  
}

#googlelogin {
    text-align: center;
    font-family: sans-serif;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}


