.eats,
.oneRestaurant {
    text-align: center;
    height: 100%;
}

.oneRestaurant img {
    width: 80%;
    max-height: 350px;
    object-fit: cover;
}

.imgDiv {
    max-width: 100%;
    height: auto;
}

#restaurantImg {
    width: auto;
    height: 70vh;
}