#diet,
#cuisine {
    justify-content: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preferences h3 {
    text-align: left!important;
}

.preferences label {
    font-family: 'Roboto', sans-serif;
}

