.rando {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    width: 300px;
    background-color: white;
    background-image: url("./BackgroundSource.js");
    background-repeat: no-repeat;
    background-position: center;
}

